{% extends "base.html" %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
 {% include 'alerts.html' %}
<div class="container">
	<div class="row">
			{% include 'accounts/dashboard_sidebar.html' %}
	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as : {{user.full_name|capfirst}}</strong>
			<span></span>
		</header>
		<div class="card-body">
			<div class="text-right">
				<img src="{{userprofile.profile_pic.url}}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">			</div>
			<div class="row"> 
				<div class="col-md-12">
					<form action="{% url 'editProfile' %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
							<div class="form-row">
								
								<div class="form-group col-md-6">
									<label>First name</label>
									{{ user_form.first_name }}
								</div> <!-- form-group end.// -->
								<div class="form-group col-md-6">
									<label>Last name</label>
									{{ user_form.last_name }}
								</div> <!-- form-group end.// -->
							</div> <!-- form-row end.// -->
							<div class=" form-row">
								<div class="col-md-6 form-group">
									<label>Phone_number</label>
									{{ user_form.phone_number }}
								</div>
								<div class="form-group col-md-6">
									<label>Profile Picture </label>
									{{ profile_form.profile_pic }}
								</div> <!-- form-group end.// -->  
								
							</div> <!-- form-group end.// -->
						
						<!-- form-row.// -->
							<div class="form-row">
							<div class="col-md-6 form-group">
									<label>Address_line_1</label>
									{{ profile_form.address_line_1 }}
								</div>
								<div class="form-group col-md-6">
									<label>Address_line_2</label>
									{{ profile_form.address_line_2}}
								</div> <!-- form-group end.// --> 
								
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label>city</label>
									{{ profile_form.city}}
								</div> <!-- form-group end.// --> 
								<div class="form-group col-md-4">
									<label>state</label>
									{{ profile_form.state}}
								</div> <!-- form-group end.// --> 
								<div class="form-group col-md-4">
									<label>Country</label>
									{{ profile_form.country}}
								</div> <!-- form-group end.// -->  
							</div>
							<div class="form-group col-md-3">
								<input type="submit" class="btn btn-primary btn-block"> 
							</div> <!-- form-group// -->      
	
						</form>
								
					</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
	
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
